@{
    ViewData["Title"] = "Каталог";
}

<p><input style="text-align: left;" hidden="" type="text" value="null" /></p>
<hr />
<h2 style="text-align: center;"><strong>Каталог товаров</strong></h2>
<hr />
<p>{}</p>
<table style="" align="center">
    <tbody>
        <tr style="">
            <td style="text-align: center;" hidden="">id</td>
            <td style="text-align: center;">N</td>
            <td style="text-align: center;">Название</td>
            <td style="text-align: center;">Тип</td>
            <td style="text-align: center;">Цена</td>
            <td style="text-align: center;">Количество</td>
        </tr>
        <tr style="">
            <td style="text-align: center;" hidden="">{}</td>
            <td style="text-align: center;">{}</td>
            <td style="text-align: center;">{}</td>
            <td style="text-align: center;">{}</td>
            <td style="text-align: center;">{}</td>
            <td style="text-align: center;"><input max="100" min="0" step="1" type="number" value="0" /></td>
            <td style="width: 94px; height: 18px; text-align: center;">
                <input type="submit" value="Изменить" />
            </td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; margin-top: 20px"><input type="submit" value="Оформить заказ" /></p>